body {
	font-family: Audiowide;
	font-size: 1.5rem;
	text-align: center;
}

.author {
	font-family: Lobster;
	font-size: 0.8rem;
}

.input {
	height: 60px;
	width: 250px;
	margin: 5px;
	background-color: #BBBBBB;
	text-align: right;
}

#inputHistory {
	height: 20px;
	letter-spacing: 0.1rem;
	line-height: 20px;
	font-size: 1rem;
	margin-right: 5px;
}

#inputField {
	letter-spacing: 0.1rem;
    line-height: 40px;
    font-size: 2rem;
    margin-right: 5px;
}

.calculator {
	padding: 20px;
	background: linear-gradient(to right, lightgrey 1%, grey 4% , darkgrey 100%);
	display: inline-block;
	border-radius: 8%;
	box-shadow: 2px 1px 2px black;
}

.buttons {
	margin: 0 auto;
}

.clearButton {
	width: 116px;
	background-color: #CC5555;
}

.inputButton {
	width: 49px;
	background-color: darkgrey;
}

button {
	margin: 5px;
	height: 50px;
	border: none;
	border-radius: 10%;
	color: white;
	box-shadow: 2px 1px 2px black;
	transition: all 0.5s linear;
}

button:focus {
	outline: none;
}

button:active {
	box-shadow: none;
}